<div class="container mb-5">
  <h2 class="center">Agregar producto nuevo</h2>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <form
    class="row g-3 justify-content-evenly"
    id="productonuevo"
    name="productonuevo"
    autocomplete="off"
    target="dummyframe"
    onsubmit="addProduct(this)"
  >
    <div class="col-md-6">
      <label class="form-label" for="title">Nombre del producto</label>
      <input type="text" class="form-control" id="name" name="title" required />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="price">Descripción</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="price"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="thumbnail">URL de la foto</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        name="thumbnail"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="price">Precio</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label" for="stock">Stock</label>
      <input
        type="number"
        class="form-control"
        id="stock"
        name="price"
        required
      />
    </div>
    <input class="btn btn-primary" type="submit" value="Agregar producto" />
  </form>
</div>

<div class="container mb-5">
  <h2 class="center h__md">Productos disponibles</h2>
  <div id="table"></div>
</div>

<div class="container mb-5">
  <h1>Centro de mensajes</h1>
  <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
  <form onsubmit="addMessage(this)" id="newMessage" target="dummyframe">
    <div class="col-md-6">
      <label class="form-label" for="title">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="title"
        required
      />
      <hr />
      <div id="messages"></div>
      <input
        class="form-control"
        type="text"
        id="message"
        placeholder="Cuéntanos algo..."
        required
      />
      <input class="btn btn-primary" type="submit" value="Enviar" />
    </div>
  </form>

</div>