<div class="container mb-5">
  <h2 class="center h__md">Productos disponibles</h2>
  <% if (list){ %>
  <div class="table-responsive">
    <table class="table table-sm table-hover table-striped">
      <thead class="t-head-light">
        <tr class="p__md--strong center">
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
      </thead>
      <tbody class="center">
        <%for (const producto of list){%>
        <tr>
          <td>
            <%=producto.title%>
          </td>
          <td>
            <%=producto.price%>
          </td>
          <td>
            <img src=<%=producto.thumbnail%> width="50" height="50">
          </td>
        </tr>
        <%}%>
          </tbody>
      </table>
  </div>
  <%}else{%>
        <h3 class="alert alert-danger">No se encontraron productos</h1>
          <%}%>
</div>